In [7]:
from sqlite3 import Date
import pandas as pd
import yfinance as yf
import datetime as datetime
from prophet import Prophet
from time import strftime
from fastapi import FastAPI, HTTPException
from fastapi.middleware.cors import CORSMiddleware
from pydantic import BaseModel

In [11]:
ticker = 'AAPL'
today = datetime.date.today()
end_date = today.strftime("%Y-%m-%d")
data = yf.Ticker(ticker).history(period='max', interval='1d')
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12 00:00:00-05:00,0.099722,0.100155,0.099722,0.099722,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.094953,0.094953,0.094519,0.094519,175884800,0.0,0.0
1980-12-16 00:00:00-05:00,0.088015,0.088015,0.087582,0.087582,105728000,0.0,0.0
1980-12-17 00:00:00-05:00,0.089749,0.090183,0.089749,0.089749,86441600,0.0,0.0
1980-12-18 00:00:00-05:00,0.092351,0.092785,0.092351,0.092351,73449600,0.0,0.0
...,...,...,...,...,...,...,...
2023-02-13 00:00:00-05:00,150.949997,154.259995,150.919998,153.850006,62199000,0.0,0.0
2023-02-14 00:00:00-05:00,152.119995,153.770004,150.860001,153.199997,61707600,0.0,0.0
2023-02-15 00:00:00-05:00,153.110001,155.500000,152.880005,155.330002,65669300,0.0,0.0
2023-02-16 00:00:00-05:00,153.509995,156.330002,153.350006,153.710007,68167900,0.0,0.0
2023-02-17 00:00:00-05:00,152.350006,153.000000,150.850006,152.550003,59095900,0.0,0.0

In [12]:
df_forecast = data.copy()
df_forecast.reset_index(inplace=True)
df_forecast

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1980-12-12 00:00:00-05:00,0.099722,0.100155,0.099722,0.099722,469033600,0.0,0.0
1,1980-12-15 00:00:00-05:00,0.094953,0.094953,0.094519,0.094519,175884800,0.0,0.0
2,1980-12-16 00:00:00-05:00,0.088015,0.088015,0.087582,0.087582,105728000,0.0,0.0
3,1980-12-17 00:00:00-05:00,0.089749,0.090183,0.089749,0.089749,86441600,0.0,0.0
4,1980-12-18 00:00:00-05:00,0.092351,0.092785,0.092351,0.092351,73449600,0.0,0.0
...,...,...,...,...,...,...,...,...
10631,2023-02-13 00:00:00-05:00,150.949997,154.259995,150.919998,153.850006,62199000,0.0,0.0
10632,2023-02-14 00:00:00-05:00,152.119995,153.770004,150.860001,153.199997,61707600,0.0,0.0
10633,2023-02-15 00:00:00-05:00,153.110001,155.500000,152.880005,155.330002,65669300,0.0,0.0
10634,2023-02-16 00:00:00-05:00,153.509995,156.330002,153.350006,153.710007,68167900,0.0,0.0
10635,2023-02-17 00:00:00-05:00,152.350006,153.000000,150.850006,152.550003,59095900,0.0,0.0

In [15]:
df_forecast["ds"] = df_forecast['Date'].dt.date
df_forecast["y"] = df_forecast["Close"]
df_forecast = df_forecast[["ds","y"]]
df_forecast

               ds           y
0      1980-12-12    0.099722
1      1980-12-15    0.094519
2      1980-12-16    0.087582
3      1980-12-17    0.089749
4      1980-12-18    0.092351
...           ...         ...
10631  2023-02-13  153.850006
10632  2023-02-14  153.199997
10633  2023-02-15  155.330002
10634  2023-02-16  153.710007
10635  2023-02-17  152.550003

[10636 rows x 2 columns]

In [16]:
model = Prophet()
model.fit(df_forecast)

11:27:31 - cmdstanpy - INFO - Chain [1] start processing
11:27:39 - cmdstanpy - INFO - Chain [1] done processing

In [18]:
future = pd.to_datetime(end_date) + pd.DateOffset(days=7)
future_date = future.strftime("%Y-%m-%d")
dates = pd.date_range(start= end_date, end= future_date)
df_pred = pd.DataFrame({"ds" : dates})
forecast = model.predict(df_pred)
prediction_list = forecast.tail(7)
prediction_list

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
1,2023-02-20,146.037123,134.003128,158.703832,146.037123,146.037123,0.258312,0.258312,0.258312,0.015359,0.015359,0.015359,0.242953,0.242953,0.242953,0.0,0.0,0.0,146.295435
2,2023-02-21,146.085014,133.686388,158.637220,146.085014,146.085014,0.219679,0.219679,0.219679,0.038463,0.038463,0.038463,0.181216,0.181216,0.181216,0.0,0.0,0.0,146.304693
3,2023-02-22,146.132905,133.904535,158.637836,146.132905,146.132905,0.164214,0.164214,0.164214,0.047248,0.047248,0.047248,0.116966,0.116966,0.116966,0.0,0.0,0.0,146.297119
4,2023-02-23,146.180795,133.332886,158.736479,146.180795,146.180795,0.039547,0.039547,0.039547,-0.011565,-0.011565,-0.011565,0.051112,0.051112,0.051112,0.0,0.0,0.0,146.220342
5,2023-02-24,146.228686,134.631040,158.529086,146.228686,146.228686,-0.095002,-0.095002,-0.095002,-0.079580,-0.079580,-0.079580,-0.015422,-0.015422,-0.015422,0.0,0.0,0.0,146.133684
6,2023-02-25,146.276577,133.515139,157.949876,146.276577,146.276577,-0.086673,-0.086673,-0.086673,-0.004963,-0.004963,-0.004963,-0.081710,-0.081710,-0.081710,0.0,0.0,0.0,146.189904
7,2023-02-26,146.324468,133.884176,156.979889,146.324468,146.324468,-0.151812,-0.151812,-0.151812,-0.004963,-0.004963,-0.004963,-0.146849,-0.146849,-0.146849,0.0,0.0,0.0,146.172655

In [28]:
forecast = prediction_list[['ds','trend']]
forecast

          ds       trend
1 2023-02-20  146.037123
2 2023-02-21  146.085014
3 2023-02-22  146.132905
4 2023-02-23  146.180795
5 2023-02-24  146.228686
6 2023-02-25  146.276577
7 2023-02-26  146.324468

In [33]:
print(forecast.to_json(orient='index'))

{"1":{"ds":1676851200000,"trend":146.0371230717},"2":{"ds":1676937600000,"trend":146.0850138186},"3":{"ds":1677024000000,"trend":146.1329045654},"4":{"ds":1677110400000,"trend":146.1807953122},"5":{"ds":1677196800000,"trend":146.2286860591},"6":{"ds":1677283200000,"trend":146.2765768059},"7":{"ds":1677369600000,"trend":146.3244675527}}